.paragraph-s4 {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.paragraph-colors {
  color: var(--main-text-color);
}

.table-h3 {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color-b);
}
